n8n-workflow-chatbot.json
{
    "name": "demo chatbot AI",
    "nodes": [
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "52181762-6526-479d-a01d-685010d954a8",
                "name": "is_from_webhook",
                "value": "={{ $json.is_from_webhook }}",
                "type": "boolean"
              },
              {
                "id": "57b97254-e96b-4dad-a433-9fcc4e3dd2a4",
                "name": "content",
                "value": "={{$json.content}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2000,
          1260
        ],
        "id": "99105fc5-b152-420d-ade3-5e2d3d64d15d",
        "name": "update key value"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "8775757f-d1cf-4562-972d-8034f5825d50",
                "leftValue": "={{ $('update key value').item.json.is_from_webhook }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          2880,
          1200
        ],
        "id": "618f391c-6ea6-4edc-aa9f-f1e1c1999cbd",
        "name": "If"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "31a7e182-9be1-4d69-a726-9d2578d80784",
                "name": "content",
                "value": "={{ $json.body.message }}",
                "type": "string"
              },
              {
                "id": "5d7a48b1-8204-4e31-bfd7-00de42d2e41f",
                "name": "is_from_webhook",
                "value": true,
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1840,
          1420
        ],
        "id": "68aa68bc-b2d8-4c8a-a4cc-9298b6b1b98c",
        "name": "lấy nội dung câu hỏi"
      },
      {
        "parameters": {
          "respondWith": "allIncomingItems",
          "options": {}
        },
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          3160,
          1060
        ],
        "id": "a4edd6f8-5ad4-419d-b989-8195e0aeca47",
        "name": "Respond to Webhook"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "chatbot",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          1640,
          1480
        ],
        "id": "1d114c50-f8e7-4e74-aac2-4235b646da5e",
        "name": "Webhook",
        "webhookId": "8bf7025a-e9b3-4116-9bbc-7c0401a3b78b"
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "https://drive.google.com/file/d/1mR5-cbpcdZXPI1OlDMnq36vy_Z-k4JPw/view",
            "mode": "url"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          220,
          1060
        ],
        "id": "bd14bd51-9dc1-4916-b17e-df7ed24ab295",
        "name": "Google Drive1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "byOIOa61zpw0ZVgn",
            "name": "Google Drive account 3"
          }
        }
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -20,
          1060
        ],
        "id": "7614a04a-659b-442e-9077-a64d427ce1e4",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "memoryKey": "crm-brochure"
        },
        "id": "370e059f-2bff-442e-b4ef-3bdd713de25b",
        "name": "Product Catalogue",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
        "position": [
          2400,
          1740
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "name": "query_product",
          "description": "Call this tool to query product data"
        },
        "id": "85731fc9-3df3-410c-9a45-5a91a4961c34",
        "name": "Vector Store Tool",
        "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
        "position": [
          2600,
          1500
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "=crm-37"
        },
        "id": "5b8747a6-2a4d-477f-88a0-5d9edb0f47a3",
        "name": "Window Buffer Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "position": [
          2440,
          1480
        ],
        "typeVersion": 1.2
      },
      {
        "parameters": {
          "mode": "insert",
          "memoryKey": "crm-brochure",
          "clearStore": true
        },
        "id": "46c72148-fc90-43df-a332-b48f48451a05",
        "name": "Create Product Catalogue",
        "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
        "position": [
          840,
          1060
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "chunkSize": 2000,
          "chunkOverlap": {},
          "options": {}
        },
        "id": "3f01cfd2-876b-4510-93f4-3082741e87b3",
        "name": "Recursive Character Text Splitter",
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "position": [
          1100,
          1440
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "jsonMode": "expressionData",
          "jsonData": "={{ $('Extract from File').item.json.text }}",
          "options": {}
        },
        "id": "39f137f2-8c2e-43e5-bcb4-9c974dbc58f2",
        "name": "Default Data Loader",
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "position": [
          1020,
          1240
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 5. Send Message\n\nThe simplest and most important part :)",
          "height": 800,
          "width": 580,
          "color": 4
        },
        "id": "c97986d0-6ae0-4d0f-b41e-bad08a2b1db8",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          2840,
          720
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 4. AI Agent ",
          "height": 1420,
          "width": 1240,
          "color": 4
        },
        "id": "b1f591b6-48db-43a1-b69b-19ee9ae83765",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1540,
          720
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.content }}",
          "options": {
            "systemMessage": "=Bạn là trợ lý trả lời thông tin sản phẩm. Bạn có công cụ RAG sử dụng vectorstore để truy vấn dữ liệu phi cấu trúc về thông tin tài liệu, hướng dẫn, trả lời các nội dung học tập. \nYêu cầu:\n1. Tất cả câu trả lời của bạn phải được trả lời hoàn toàn bằng tiếng Việt.\n2. ưu tiên lấy dữ liệu trong vectorstore, nếu không có bạn có thể lấy thông tin từ tri thức của bạn.\n3. Trả lời một cách đầy đủ và hữu ích vì bạn là một trợ lý.\n4. Trả lời người dùng với phong thái thân tiện, ân cần giúp đỡ như một trợ lý chăm sóc khách hàng."
          }
        },
        "id": "7abedd2a-e7dc-4dca-be54-abc4f3e5b096",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "position": [
          2320,
          1200
        ],
        "typeVersion": 1.7
      },
      {
        "parameters": {
          "content": "## 2. Create Internal Vector Store\n\n**How it works**  \n1. The text extracted in Step 1 is split into manageable segments (chunks).  \n2. An embedding model transforms these segments into numerical vectors.  \n3. These vectors, along with metadata, are stored in database.  \n4. When users ask a question, their query is embedded and matched to the most relevant vectors, improving the accuracy of the chatbot's response.",
          "height": 1020,
          "width": 780,
          "color": 6
        },
        "id": "cf36b129-7a87-4b11-aba3-7611f179e22a",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          700,
          720
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "id": "eb0be89f-e560-4137-ad51-5ee6b637d761",
        "name": "Extract from File",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          460,
          1060
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## 1. Download & Extract Documents\n",
          "height": 860,
          "width": 780,
          "color": 2
        },
        "id": "990b4077-e6ca-47a1-9030-40a63ef058d2",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -100,
          720
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          800,
          1600
        ],
        "id": "17c0f043-9964-4891-af28-dde2d2e6b012",
        "name": "Embeddings OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "jsl7qm0hFc0ukGJz",
            "name": "OpenAi account 4"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/text-embedding-004"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          840,
          1280
        ],
        "id": "6ef902e3-2f17-4a21-900b-00100c69de8b",
        "name": "Embeddings Google Gemini",
        "credentials": {
          "googlePalmApi": {
            "id": "jlxWszG3VfffNd90",
            "name": "Google Gemini(PaLM) Api account 2"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.5-flash-preview-05-20",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          2700,
          1720
        ],
        "id": "fc3a32ab-d677-4782-8f05-3f080edc6fee",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "jlxWszG3VfffNd90",
            "name": "Google Gemini(PaLM) Api account 2"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/text-embedding-004"
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
        "typeVersion": 1,
        "position": [
          2400,
          1900
        ],
        "id": "9e8a56a7-765b-4b2b-87ff-e616f2a54a78",
        "name": "Embeddings Google Gemini1",
        "credentials": {
          "googlePalmApi": {
            "id": "jlxWszG3VfffNd90",
            "name": "Google Gemini(PaLM) Api account 2"
          }
        }
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.5-flash-preview-05-20",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          2240,
          1380
        ],
        "id": "eba27257-ba15-4857-9b85-2f615af64919",
        "name": "Google Gemini Chat Model1",
        "credentials": {
          "googlePalmApi": {
            "id": "jlxWszG3VfffNd90",
            "name": "Google Gemini(PaLM) Api account 2"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          1640,
          1060
        ],
        "id": "40513330-3655-4b3f-83b8-1f46d2bf4685",
        "name": "When chat message received",
        "webhookId": "4946ce01-c584-4d98-b034-fa6b9fe3914f"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "691dc448-88a2-4e2a-930c-f435782aeab8",
                "name": "is_from_webhook",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "6d622e06-aa95-4e8c-9d10-b2c593777129",
                "name": "content",
                "value": "={{ $json.chatInput }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1840,
          1120
        ],
        "id": "e7c7991f-4371-4434-9c3d-2d14956c83bc",
        "name": "lấy nội dung chat"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c59fb0c6-3a1b-4c6d-a443-a8bb283550dc",
                "name": "output",
                "value": "={{ $json.output }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3100,
          1300
        ],
        "id": "7605f212-a693-49ab-a5f5-7ea1fd03d984",
        "name": "Edit Fields"
      }
    ],
    "pinData": {},
    "connections": {
      "update key value": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "lấy nội dung câu hỏi": {
        "main": [
          [
            {
              "node": "update key value",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "lấy nội dung câu hỏi",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Google Drive1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Product Catalogue": {
        "ai_vectorStore": [
          [
            {
              "node": "Vector Store Tool",
              "type": "ai_vectorStore",
              "index": 0
            }
          ]
        ]
      },
      "Google Drive1": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Create Product Catalogue",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vector Store Tool": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Window Buffer Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Create Product Catalogue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI": {
        "ai_embedding": [
          []
        ]
      },
      "Embeddings Google Gemini": {
        "ai_embedding": [
          [
            {
              "node": "Create Product Catalogue",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Vector Store Tool",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings Google Gemini1": {
        "ai_embedding": [
          [
            {
              "node": "Product Catalogue",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "lấy nội dung chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "lấy nội dung chat": {
        "main": [
          [
            {
              "node": "update key value",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "active": true,
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "any"
    },
    "versionId": "7445d973-a0bd-4d9d-b3bb-0c1c2a531914",
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "010fd84e5e21591d51c7c52301db40fdd20b8fee35daab3f317eeaf79805a697"
    },
    "id": "CULlW9hVIKdzW2SU",
    "tags": []
  }